.projects-section {
    margin-top: 20px;
    padding: 10px;
    background: #ffebf0;
    border: solid #ffb6c1 2px;
}
.projects-section h3 {
    color: #ff69b4;
    text-shadow: 1px 1px 2px #fff;
}
.projects-section ul {
    list-style-type: disc;
    padding-left: 20px;
}
.projects-section ul li {
    margin-bottom: 10px;
}
