{{ define "main" }}
{{ $pageTitle := .Title }}
<main>
    <div>
        <h1>
            {{ .Title }}
            <a href="{{ .Permalink }}index.xml">
                <img style="height:1.5rem; display: inline;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-label='RSS' role='img' viewBox='0 0 512 512'%3E%3Cpath d='M0 0h512v512H0' fill='%23f80'/%3E%3Cpath d='M109 271A132 133 0 0 1 241 403h60A192 193 0 0 0 109 211v-54A246 247 0 0 1 355 403h60A306 307 0 0 0 109 97m35 235a35 35 0 1 0 2 0' fill='%23fff'/%3E%3C/svg%3E" alt="RSS icon" />
            </a>
        </h1>
        <div>
            {{ .Content }}
        </div>
        {{- if eq .Kind "taxonomy" -}}
            <ul>
                {{ range .Pages.ByTitle }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        {{- if eq .Kind "term" -}}
        <p>Content linked to the taxonomy term « {{ strings.ToUpper .Title }} »:</p>
            {{ $currentType := "" }}
            {{ range sort .Pages.ByDate.Reverse ".Type" "desc" }}
                {{ if or (eq $currentType "") (ne $currentType .Type) }}
                    {{ if ne $currentType "" }}
                    </ul>
                </div>
                    {{ end }}
                <div>
                    <h3>{{ strings.FirstUpper .Type }}</h3>
                    <ul>
                {{ end }}
                        <li>
                            <time class="date dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </li>
                {{ $currentType = .Type }}
            {{ end }}
                    </ul>
                </div>
        {{- end -}}
    </div>
</main>
{{ end }}
